@font-face {
  font-family: "Inter";
  src: url("./app/assets/fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Swanky and Moo Moo";
  src: url("./app/assets/fonts/Swanky_and_Moo_Moo/SwankyandMooMoo-Regular.ttf")
    format("truetype");
}
:root {
  font-family: "Swanky and Moo Moo";
}

// CSS Reset
* {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
